<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657481286430-7oq3vhjerg9n3og5eu1np3e07u76pu3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657481286430-7oq3vhjerg9n3og5eu1np3e07u76pu3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCy545M-6pAd_gdVvdkEeAjJXt-JEI_M2w</string>
	<key>GCM_SENDER_ID</key>
	<string>657481286430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allenyan.nodebb</string>
	<key>PROJECT_ID</key>
	<string>nodebb-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nodebb-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657481286430:ios:7f0554f1ae78f4dc0aff0f</string>
</dict>
</plist>
